<div class="container" *ngIf="productState$ | async; let productState">
  <div style="padding: 0 20px">
    <h4>Categories</h4>
    <ul style="list-style: none; padding: 0;">
      <li *ngFor="let filter of productState.allFilters">
        <input
          id="{{ filter }}"
          type="checkbox"
          (change)="filterByCategory($event, filter)"
          [checked]="(filterState$ | async).includes(filter)"
        />&nbsp;
        <label for="{{ filter }}">{{ filter }}</label>
      </li>
    </ul>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="productState.filteredProducts.length > 0">
        <tr *ngFor="let product of productState.filteredProducts">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.category }}</td>
        </tr>
      </ng-container>
      <ng-container
        *ngIf="
          productState.filteredProducts.length === 0 &&
          productState.loaded &&
          !productState.error
        "
      >
        <td colspan="3" style="text-align: center">No products available</td>
      </ng-container>
      <ng-container
        *ngIf="
          productState.filteredProducts.length === 0 &&
          productState.loading &&
          !productState.error
        "
      >
        <td colspan="3" style="text-align: center">
          <span class="fa fa-spinner"></span>
        </td>
      </ng-container>
      <ng-container *ngIf="productState.loaded && productState.error">
        <td colspan="3" style="text-align: center">
          {{ productState.error.statusText }}
        </td>
      </ng-container>
    </tbody>
  </table>
</div>
